* {
    box-sizing: border-box;
}
body{
    color: green;
    background-color:black ;
    font-family: 'Overpass', sans-serif;

   

}
.wrapper{
    margin: auto;
    border: solid 1px hsl(216, 12%, 8%);
    height: 345px;
    width: 385px;
    background: linear-gradient( hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.contentholder{

    width: 90%;
    height: 90%;

    


}
.star{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: hsl(213, 19%, 18%);





}
.contentholder p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    padding-bottom: 10px;
    word-spacing: 1.5;
    font-weight: 400;
    line-height: 1.55;

}
.contentholder h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 25px;
    padding-top: 10px;
}
.ratingButtons {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}



.ratingButtons button{
    border: none;

    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: hsl(217, 12%, 63%);
    margin-top: -5px;

    

    

}

button{
  background-color: hsl(213, 19%, 18%);
  transition: .45s;

}
button:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}
button:active{
    background-color: hsl(25, 97%, 53%);


}
button:focus{
    background-color:hsl(216, 12%, 54%) ;
    color: white;



}


#submit{
    margin-top:20px;

    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
    height: 35px;
    border: none;
    letter-spacing: 1.2;
    font-weight: 400
}

#submit:active{
    background-color: white;
    color: hsl(25, 97%, 53%);


}

.thankYou{
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    display: none;

}

.thankYou p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    padding-bottom: 10px;
    word-spacing: 1.5;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: .4;
    margin-top: -10px;


}
.thankYou h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 25px;
}
.rating{
    margin-top: 5px;
    margin: auto;



    border-radius: 25px;

    background-color: hsl(213, 19%, 18%);
    color:  hsl(25, 97%, 53%);
    font-size: 13px;
    width:50%;
    padding: 8px;
}
.thankYouSvg{
    margin-top: 20px;
    margin-bottom: 20px;

}